<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Startup List</title>
</head>
<body>

<div>
    <!-- The form below should invoke the method StartupController.listAll -->
    <form th:action="@{/startups}" th:method="GET" id="filter-form">
        <label for="name">Startup Name</label>
        <input id="name" type="text" name="name"/>

        <label for="valuation">Valuation (in millions)</label>
        <input id="valuation" type="number" name="valuation"/>

        <label for="yearFounded">Year Founded</label>
        <input id="yearFounded" type="number" min="2000" name="yearFounded"/>

        <label for="industry">Industry</label>
        <select id="industry" name="industry">
            <option value="">All</option>
            <!-- For each Industry you should have one <option> like below  -->
            <option th:each="i : ${industries}"
                    th:value="${i}"
                    th:text="${i}"
                    th:selected="${industry != null && industry == i}">
                [industry]</option>
        </select>

        <label for="founderId">Founder</label>
        <select id="founderId" name="founderId">
            <option value="">All</option>
            <!-- For each founder you should have one <option> like below  -->
            <option th:each="f : ${founders}"
                    th:value="${f.getId()}"
                    th:text="${f.name}"
                    th:selected="${founderId != null && founderId == f.getId()}"
            >[founder.name]</option>
        </select>

        <button id="filter" type="submit">Filter</button>
    </form>

    <div>
        <!-- StartupController.showAdd -->
        <a th:href="@{/startups/add}" class="add-item">Add new startup</a>
    </div>

    <table>
        <tr>
            <th>Startup Name</th>
            <th>Valuation</th>
            <th>Year Founded</th>
            <th>Industry</th>
            <th>Founder</th>
            <th>Active/Deactivated</th>
            <th>Actions</th>
        </tr>
        <!-- For each startup you should have one <tr> like below -->
        <tr th:each="s : ${page.getContent()}" class="item">
            <td th:text="${s.name}">[startup.name]</td>
            <td th:text="${s.valuation}">[startup.valuation]</td>
            <td th:text="${s.yearFounded}">[startup.yearFounded]</td>
            <td th:text="${s.industry}">[startup.industry]</td>
            <td th:text="${s.getFounder().getName()}">[startup.founder.name]</td>
            <td th:text="${s.isActive()}? 'ACTIVE' : 'DEACTIVATED'">[startup.active] -> ACTIVE/DEACTIVATED</td>
            <td>
                <!-- StartupController.edit -->
                <a th:href="@{'/startups/edit/{id}' (id=${s.getId()})}" class="edit-item">Edit</a>

                <!-- StartupController.delete -->
                <form th:action="@{'/startups/delete/{id}' (id=${s.getId()})}"
                      th:method="POST">
                    <button type="submit" class="delete-item">Delete</button>
                </form>

                <!-- StartupController.close -->
                <form th:action="@{'/startups/deactivate/{id}' (id=${s.getId()})}"
                      th:method="POST">
                    <button type="submit" class="close-item">Deactivate</button>
                </form>

            </td>
        </tr>
    </table>
    <div th:include="paging :: pageSection(${page})"></div>
</div>

<div>
    <ul id="nav">
        <li><a href="/">Home</a></li>
        <li><a href="/login">Login</a></li>
        <li><a href="/logout">Logout</a></li>
    </ul>
</div>

</body>
</html>
